<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <div>
        Hello, <span id="managername">user</span>. <!-- authentication is popping up null and I can't access the value name on it becasue of that issue-->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
    </div>

    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>